<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- API REFERENCE -->
    <preference for="MageOS\NewsletterCoupon\Api\SubscriberInformationRepositoryInterface"
                type="MageOS\NewsletterCoupon\Model\SubscriberInformationRepository"/>
    <preference for="MageOS\NewsletterCoupon\Api\Data\SubscriberInformationInterface"
                type="MageOS\NewsletterCoupon\Model\SubscriberInformation"/>

    <!-- PLUGINS -->
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="mageos_save_subscriber_information"
                type="MageOS\NewsletterCoupon\Plugin\SaveSubscriberData"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="mageos_check_newsletter_coupon"
                type="MageOS\NewsletterCoupon\Plugin\CheckNewsletterCoupon"/>
    </type>
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="mageos_disable_newsletter_email"
                type="MageOS\NewsletterCoupon\Plugin\UpdateNewsletterEmailSending"/>
    </type>

</config>
